<!DOCTYPE html>
<html lang="en-us">
<head>

<style>

body {
    background-color: transparent; margin: 0; padding: 0;
    font-family: 'Rubik';
}

html {font-size: 1em;}

body {
  font-family: 'Rubik', serif;
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Rubik';
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

</style>

</head>
<body>
        <h2>Backup</h2>
        <p>This is what your DNS settings are currently set to:</p>
        <script>
            var getDNS = require('../js/getDNS.js')
            document.write('<p>' + getDNS + '</p>')
            console.log(getDNS)
        </script>
        <p><b>Save these somewhere before continuing!</b></p>
        <button onclick="window.location.href = 'views/backup.html'">Next</button>
</body>
</html>